.twemoji {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  margin: 0;
  user-select: none;
  -webkit-user-drag: none;
}

.twemoji-small {
  width: 1em;
  height: 1em;
}

.twemoji-large {
  width: 2em;
  height: 2em;
}

.twemoji-xlarge {
  width: 3em;
  height: 3em;
}

.nav-icon .twemoji {
  width: 1em;
  height: 1em;
  margin: 0;
}

.tree-icon .twemoji,
.tree-icon .file-icon {
  width: 14px;
  height: 14px;
  font-size: 14px;
  margin: 0;
}

.empty-icon .twemoji {
  width: 4em;
  height: 4em;
  margin-bottom: 1rem;
}

.preview-empty-icon .twemoji {
  width: 3em;
  height: 3em;
  margin-bottom: 0.5rem;
}

.context-menu-item .twemoji {
  width: 1em;
  height: 1em;
  flex-shrink: 0;
}

.bookmark-icon .twemoji {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
}

.file-icon .twemoji {
  width: var(--icon-size-grid);
  height: var(--icon-size-grid);
  margin-bottom: 0;
}

.list-view .file-icon .twemoji {
  width: max(var(--icon-size-list), 16px);
  height: max(var(--icon-size-list), 16px);
  margin-right: 0.45rem;
  margin-bottom: 0;
}

.dialog-icon .twemoji {
  width: 2em;
  height: 2em;
  margin-right: 0.5rem;
}

.toolbar-button .twemoji {
  width: 0.95em;
  height: 0.95em;
}

.address-icon .twemoji,
.search-icon .twemoji {
  width: 1em;
  height: 1em;
}

.status-bar .twemoji {
  width: var(--icon-size-status);
  height: var(--icon-size-status);
}

.settings-modal h3 .twemoji,
.settings-tab .twemoji {
  width: var(--icon-size-settings-tab);
  height: var(--icon-size-settings-tab);
}

.history-item .twemoji {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}

.history-clear .twemoji {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}

.sort-menu .twemoji {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}

.bookmark-add-btn .twemoji {
  width: 1em;
  height: 1em;
}

.preview-close .twemoji,
.search-close .twemoji,
.modal-close .twemoji {
  width: 1em;
  height: 1em;
}

button .twemoji {
  vertical-align: middle;
  margin: 0;
}

body.themed-icons .twemoji {
  filter: grayscale(1) brightness(0.9) sepia(1) saturate(3)
    hue-rotate(var(--themed-icon-hue, 200deg));
  opacity: 0.85;
}

body.themed-icons .twemoji:hover {
  opacity: 1;
}
